# Enable rewrite engine
RewriteEngine On
RewriteBase /

# Redirect all requests to index.php
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^ index.php [L,QSA]

# Disable directory listing
Options -Indexes

# Protect files and directories
<FilesMatch "^\.">
    Order allow,deny
    Deny from all
</FilesMatch>